@import '../../../styles.scss';

/*card for add-image form*/
.add-image-form-card { width: $percent-50; margin:20px auto;
  /*add-image form*/
  .add-image-form { padding: 30px;
    .form-field { display: block; }
    /*cancel and save button styles*/
    .saveCancelBtn { 
      button { margin-right: 10px;
        mat-icon { font-size: 20px; }
      }
    }
  }
}

/*change width of add-image form iframe screen size <=425px*/
@media only screen and (max-width:425px)
{
  .add-image-form-card { width: $percent-90; margin:20px auto; }
}



