@import '../../../styles.scss';

.add-image-form-card { width: $percent-50; margin:20px auto;
  .add-image-form { padding: 30px;
    .form-field { display: block; }
    .saveCancelBtn { 
      button { margin-right: 10px;
        mat-icon { font-size: 20px; }
      }
    }
  }
}


@media only screen and (max-width:425px)
{
  .add-image-form-card { width: $percent-90; margin-left: $percent-5; margin-top: 20px; }
 
}



