
<!DOCTYPE html>
<html>
<!--external files can be placed inside the head tag--> 
<head>

</head>
<!--design part in body tag-->
<body>
  <!--top fixed header-->
  <mat-toolbar class="admin-panel-top-header  h-50 ">
    <!-- header left image and heading -->
    <img src="assets/admin.png" class="h-30 w-30" />
    <h1 class="left-admin-panel-heading  pl-5">Admin Panel</h1>
  
    <span class="spacing"></span>

    <!--header right menu option with profile and logout button-->
    <button mat-icon-button [matMenuTriggerFor]="menu" class="header-right-menu-icon " matTooltip="Account actions" ><mat-icon>more_vert</mat-icon></button>
    <mat-menu #menu >
      <button mat-menu-item >
        <mat-icon>person</mat-icon>
        <span>Admin Name</span>
      </button>
      <button mat-menu-item>
        <mat-icon>power_settings_new</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
    
  </mat-toolbar>


  <!--bottom section-->
  <mat-sidenav-container class="bottom-section ">
    <!--side navigation menu-->
    <mat-sidenav class="left-sidenav " #sidenav [mode]="mode" [opened]="openSidenav">
      <mat-nav-list class="leftSidenav">
        <ul class="mt-0 pl-0 w-100p">
          <!--bottom section side menu list items -->
          <li>
            <a mat-list-item tabindex="-1" routerLink="users" (click)="itemHideShow(1)"   class="selectedClass"  routerLinkActive="active" >Users</a>
          </li>
          <mat-divider></mat-divider>
          <li>
            <a mat-list-item href="images" tabindex="-1" (click)="itemHideShow(2)"  routerLink="images"  routerLinkActive="active">Images</a>
          </li>

          <mat-divider></mat-divider>
          <li>
            <a mat-list-item (click)="itemHideShow(3)"   tabindex="-1"  [ngClass]="activeLink">
              Reports
              <span class="spacing"></span>

              <mat-icon *ngIf="arrowPosition">expand_more</mat-icon>
              <mat-icon *ngIf="!arrowPosition">expand_less</mat-icon>
            </a>

            <ul *ngIf="hide" class="mt-0 pl-0 w-100p">
              <li>
                <a mat-list-item tabindex="-1" class="pl-10"  (click)="activeParent()"  routerLink="reports/report1"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Report 1</a>

              </li>
            
              <li>
                <a mat-list-item tabindex="-1" class="pl-10"  (click)="activeParent()" routerLink="reports/report2" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Report 2</a>
              </li>
             
            </ul>

          </li>
          <mat-divider></mat-divider>

        </ul>
       

      </mat-nav-list>
    </mat-sidenav>

    <!--bottom section content-->
    <mat-sidenav-content class="bottom-section-content " >
      <!--content header-->
      <mat-toolbar class="content-header pl-10  h-40 " [ngClass]="showToggle">
        <button mat-icon-button  (click)='sidenav.open()' class='toogleSidenav ml-10' >
          <mat-icon>menu</mat-icon><span> Menu </span>
        </button>
        

      </mat-toolbar>
     <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

  
  
</body>
</html>


