/*variable and common styles area defined input "styles.scss"*/
@import '../styles.scss';

/*admin panel stop header styles*/
.admin-panel-top-header {
  background-color: $dark-blue;
  color: white;
  // z-index: 2; //to disply shadow over the other content
  box-shadow: 0px 0px 5px black; //x-position y-position shadow-sharpness color

  .header-right-menu-icon {
    z-index: 2; //to display tooltip, over the other elements 
  }
}


/*admin panel bottom section (sidenav & content)*/
.bottom-section {

  height: calc(100vh - 50px);

  //bottom section left sidenav
  .left-sidenav {
    width: 150px;
    background-color: $blue;
  }

}


//bottom section left sidenav list
.leftSidenav {
  ul {
    list-style-type: none;
   
    li {
      a {
        font-size: $large-font; 
        color: white;
        height:40px;

        //style apply to hovered link
        &:hover {
          background-color: #003366;
        }

        //style apply to active link
        &.active {
          background-color: #003366;
        }
      }
    }
  }
}




//styles applied to the elements upto 768px screen size
@media only screen and (max-width:768px) {
  .bottom-section 
    .bottom-section-content {
     //style of visible toolbar 
     .content-header {background-color: #e6f2ff;}
    }
  }




