/*common styles import from styles.scss*/
@import '../../styles.scss';

/*image slider card*/
.image-slider-card { width: $percent-40; margin: 20px auto;
  .image-display-section {
    .img { width: $percent-100; height: 200px; }
    .slider-button-left { top: $percent-30; padding-left: 5px; left: 0%; position: absolute; }
    .slider-button-right { top: $percent-30; padding-left: 5px; right: 0%; position: absolute; }
  }
  .image-description-section { height: 50px; cursor: pointer;
    span {
      @include multi-line-ellipsis(15px,1.5,2)
    }
  }
}

/*image list table with edit and delete options*/
.image-list-table {
  width:$percent-70;margin:20px auto;
  .image-list-table { width: $percent-100; 
    th {
      font-weight: bold;
      color: black;
      font-size: 15px;
      @include table-content-padding();
    }
    td {
      @include table-content-padding();
    }
  }
}




/*styles for the image slider card when screen size(<=425px )*/
@media only screen and (max-width:425px) {
  .image-slider-card { width: $percent-85; }
  .image-list-table { width: $percent-90; }
}

/*styles for the image slider card when screen size(<=425px )*/
@media only screen and (width:768px) {
  .image-slider-card { width: $percent-50;
    .image-description-section { 
      span {
        @include multi-line-ellipsis(13px,1.5,2)
      }
    }
  }
  
}

