<!--selected menu item content header-->
<mat-grid-list cols="1" rowHeight="50px" class="selected-listItem-header">
  <mat-grid-tile class="header-grid-tile">
    <span class="left-heading">Image Slider</span>
    <button class="content-header-right-button" matTooltip="Add New Image" mat-icon-button routerLink="/images/add-image" target="_parent" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <mat-icon>add</mat-icon>
    </button>
  </mat-grid-tile>
</mat-grid-list>

<!-- image slider card -->
<mat-card class="image-slider-card p-0">
  <div class="image-display-section z-index-2">
    <img src="{{imgUrl}}" class="img" />
    <button mat-icon-button class="slider-button-left " (click)="getNext(-1)" [disabled]="disabledLeft"><mat-icon class="pr-10">chevron_left</mat-icon></button>
    <button mat-icon-button class="slider-button-right " (click)="getNext(1)" [disabled]="disabledRight"><mat-icon class="pr-5">chevron_right</mat-icon></button>
  </div>
  <div class="image-description-section" matTooltip="{{imgDescription}}">
    <span style="-webkit-box-orient: vertical;">
      {{imgDescription}}
    </span>
  </div>

</mat-card>

<mat-card class="image-list-table p-0">
  <!--table to display image list with edit delete options-->
  <table mat-table [dataSource]="dataSource" class=" image-list-table " *ngIf="count">

    <!--image URL column-->
    <ng-container matColumnDef="imageUrl">
      <th mat-header-cell *matHeaderCellDef> Image URL </th>
      <td mat-cell *matCellDef="let image"> {{image.imageUrl}} </td>
    </ng-container>

    <!--image description column-->
    <ng-container matColumnDef="imageDescription">
      <th mat-header-cell *matHeaderCellDef> Image Caption  </th>
      <td mat-cell *matCellDef="let image"> {{image.imageDescription}} </td>
    </ng-container>

    <!--edit or delete menu item column-->
    <ng-container matColumnDef="editOrDelete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let image">
        <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
        <mat-menu #menu xPosition="before">
          <button mat-menu-item (click)="editImage(image.id)">
            <mat-icon>edit</mat-icon> Edit
          </button>
          <button mat-menu-item (click)="deleteImage(image.id)">
            <mat-icon>delete_forever</mat-icon> Delete
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <!--table pagination-->

  </table>


  <mat-paginator #paginator [length]="totaleLength"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="pageSizeOptions">


  </mat-paginator>
</mat-card>
