/*common styles import from styles.scss*/
@import '../../styles.scss';

/*image slider card*/
.image-slider-card { min-height: $percent-40; width: $percent-30; margin-left: $percent-35; margin-top: 20px; margin-bottom: 20px; /*image slider section for image display according to path*/ .image-display-section { position: absolute; width: $percent-100; height: $percent-75;
    .img { position: absolute; width: $percent-100; height: $percent-100; }
    /*image slider left and right button*/ .slider-button-left { position: absolute; top: $percent-40;
      mat-icon { font-size: 30px; }
    }
    .slider-button-right { position: absolute; top: $percent-40; right: $percent-0;
      mat-icon { font-size: 30px; }
    }
  }
  /*image description section in slider*/ .image-description-section { position: absolute; ;width:$percent-90; cursor: pointer; top: $percent-75; margin:$percent-0 $percent-5;
    span {
      padding:3px 0px;
      @include multi-line-ellipsis(15px,1.5,2)
    }
  }
}



/*image list table with edit and delete options*/
table { width: $percent-60; margin-left: $percent-20; margin-bottom: $percent-5;
  th {
    font-weight: bold;
    color: black;
    font-size: 15px;
    @include table-content-padding();
  }
  td {
    @include table-content-padding();
  }
}


/*styles for the image slider card when screen size(>=425px and <=768px)*/
@media only screen and (max-width:768px) and (min-width:425px){
  .image-slider-card { min-height: $percent-50; width: $percent-50; margin-left: $percent-25;  }
}


/*styles for the image slider and table containing image list card when screen size(<=425px)*/
@media only screen and (max-width:425px)
{
  .image-slider-card { min-height: $percent-40; width: $percent-70; margin-left: $percent-15; }

  table { width: $percent-90; margin-left: $percent-5; }
}



/*styles for the image slider card when screen size(>=768px and <=1024px)*/
@media only screen and (max-width:1024px) and (min-width:758px) {
  body{
    overflow:auto;
  }
  .image-slider-card { min-height: $percent-30; width: $percent-50; margin-left: $percent-25; }
  table { width: $percent-90; margin-left: $percent-5; }
}
