/*variable and common styles are defined input "styles.scss"*/
@import '../../../styles.scss';

/*add user form section*/
.add-user-form-card { width: $percent-70; margin: 20px auto;
  .add-user-stepper { width: $percent-90; margin: 20px auto;
    .form-field { width: $percent-100; margin: 10px auto; }
    .gender-radio-group {

      .gender-value { padding: 20px 20px 0px 0px; }
    }
    .languages-known-section { margin: 20px 0px;
      .languages-known-checkbox { margin-left: 10px; }
    }
    .form-save-cancel-button { margin-top: 20px;
      button { margin-right: 10px;
        mat-icon { font-size: 20px; }
      }
    }
  }
}


/*change width of the card containing add-user form*/
@media only screen and (max-width:425px) {
  .add-user-form-card { width: $percent-90;
    .languages-known-section {
      .languages-known-checkbox { display: block; }
    }
  }
}
