.add-user-tab-group {
  margin-top: 20px;
  width: 70%;
  margin-left: 15%;

  .personal-details-tab {
    width: 50%;
  }
}


@media only screen and (max-width:425px)
{
  .add-user-tab-group {
    width: 100%;
    margin-left: 0%;
  }
}
